<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Add User</title>
</head>
<body>
<h1>Add New User</h1>
<form action="#" th:action="@{/addUser}" th:object="${user}" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{user.name}" required />
  </div>
  <div>
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" th:field="*{user.age}" required />
  </div>
  <div>
    <button type="submit">Add User</button>
  </div>
</form>
</body>
</html>