<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Users</title>
</head>
<body>
<h1>List of Users</h1>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through each user in the 'users' attribute -->
    <tr th:each="user : ${users}">
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.age}">Age</td>
    </tr>
    </tbody>

    <form action="#" th:action="@{/processName}" method="post">
        <div>
            <button type="submit">Add User</button>
        </div>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="age">Age:</label>
            <input type="text" id="age" name="age" required>
        </div>

    </form>

</table>
</body>
</html>